<!doctype html>
<html lang="en">

<head>
    <title>Bing Scraper</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

        <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Progress
        </a>
    </nav>

    <div class="container" id="progress">
        Progress
    </div>

    <script type="text/javascript">
          function get_progress() {
            $(function() {
                $.getJSON($SCRIPT_ROOT + '/get_progress', 
                function(data) {
                //console.log(data)
                var result = data.result;
                var dataLength = result.length;
                let para = document.createElement('div');
                var domstring = "";
                for ( var i = 0; i < dataLength; i++){
                    console.log(result[i]);
                    domstring+= '<div>' + result[i].name + '                word processed : '+ result[i].progress +  '                 word to process : ' + result[i].total +'</div>\n'
                }
                //para.innerHTML = domstring;
                document.getElementById("progress").innerHTML = domstring;
                });
            })
          }

          setInterval(get_progress, 2000)
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    
</body>

</html>
